version: "3.9"
services:
  server:
    container_name: "Node-js-server"
    build:
      context: "./"
      dockerfile: "dockerfiles/node-js-server.dockerfile"
    networks:
      - skupos-network
    ports:
      - 8000:8000
    volumes:
      - skupos-volume:/var/www/html
  statsd:
    container_name: "statsd-daemon"
    image: statsd/statsd
    networks:
      - skupos-network
networks:
  skupos-network:
    driver: bridge
volumes:
  skupos-volume: {}
